<form class="searchBox" action="/search/weather" method="post">
    <input type="text" class="input-text" name="zipCode" placeholder="Enter Your Zip Code Here">
    <input type="submit" class="button" value="argh!">
</form>