* {
  background-color: green;
  font-family: 'Slabo 27px', serif;
  margin: 0;
}

.navbar {
  top: 0;
  padding: 1rem;
  width: 100%;
  background-color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container div {
  margin: 2rem;
}

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  margin: 0.5rem;
}

.input-text {
  background-color: white;
  color: black;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
}

.button {
  background-color: white;
  color: black;
  font-family: 'Slabo 27px', serif;
  padding: 0.5rem;
  width: 5rem;
}

.weatherInformation {
  width: 50%;
  background-color: red;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: red;
}